@charset "UTF-8";
@import url("../font/HelveticaNeue.otf");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetical Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  color: #333;
  background-color: #fff;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Helvetical Neue", sans-serif;
  border: 0;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #cc0000;
}

img {
  display: block;
  max-width: 100%;
}

/*===========================================================================*/
.font-primary {
  font-family: "Sarabun", sans-serif;
}

.font-secondary {
  font-family: "Arial", sans-serif;
}

.font-noto {
  font-family: "Noto Serif", serif;
}

.font-opensan {
  font-family: "Open Sans", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-robo {
  font-family: "Roboto", sans-serif;
}

/*===========================================================================*/
.w-1040 {
  max-width: 65rem;
  margin: 0 auto;
}

.w-1140 {
  max-width: 71.25rem;
  margin: 0 auto;
}

.w-1080 {
  max-width: 67.5rem;
  margin: 0 auto;
}

.w-1440 {
  max-width: 90rem;
  margin: 0 auto;
}

.w-1920 {
  max-width: 120rem;
  margin: 0 auto;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-48 {
  font-size: 3rem;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 1.5rem;
  background-color: #fff;
  color: #fff;
  outline: none;
}

/*=================================================================*/
.thumb-img {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.thumb-item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.thumb-5x3 {
  padding-bottom: 60%;
}

.thumb-6x3 {
  padding-bottom: 70%;
}

.thumb-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=================================================================*/
.text-blue-28 {
  color: #284fa7;
}

.text-blue-03 {
  color: #03a9f4;
}

.text-00 {
  color: #000;
}

.text-gray-33 {
  color: #333;
}

.text-gray-44 {
  color: #444;
}

.text-gray-66 {
  color: #666;
}

.text-gray-82 {
  color: #828282;
}

.text-gray-c0 {
  color: #c0c0c0;
}

.text-gray-e0 {
  color: #e0e0e0;
}

.text-gray-fc {
  color: #FCFAF6;
}

.text-red-c43 {
  color: #c43000;
}

/*=================================================================*/
.bg-blue-28 {
  background-color: #284fa7;
}

.bg-blue-15 {
  background-color: #152764;
}

.bg-blue-03 {
  background-color: #03A9F4;
}

.bg-fffe {
  background-color: #fffef5;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.form-control-t {
  width: 100%;
  border: none;
  height: 2.125rem;
  padding: 1rem;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-4 {
  border-radius: 0.25rem;
  overflow: hidden;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.border-6 {
  border-radius: 0.375rem;
  overflow: hidden;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.shadown-1 {
  box-shadow: 0 4px 16px rgba(163, 161, 161, 0.5);
}

/*=================================================================*/
.line-15 {
  line-height: 0.9375rem;
}

.line-19 {
  line-height: 1.1875rem;
}

.line-22 {
  line-height: 1.375rem;
}

.line-26 {
  line-height: 1.625rem;
}

.line-28 {
  line-height: 1.75rem;
}

.line-32 {
  line-height: 2rem;
}

.line-34 {
  line-height: 2.125rem;
}

.line-46 {
  line-height: 2.875rem;
}

#header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.nav-header-wrapper {
  padding: 0.625rem 0;
}

.nav-header__logo {
  max-height: 3.125rem;
  width: auto;
}

.nav-header__right-item {
  flex-shrink: 0;
}

.nav-header__right-item + .nav-header__right-item {
  margin-left: 0.375rem;
}

.nav-header__right-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #3d60af;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.nav-header__right-icon {
  height: 0.875rem;
  width: auto;
}

.nav-header__right-search {
  margin-left: 1.875rem;
}

.nav-search-group {
  width: 10.9375rem;
  height: 1.875rem;
  border: 1px solid rgba(229, 229, 229, 0.3);
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.form-search-pc {
  width: 100%;
  background: transparent;
  color: #fff;
  height: 1.875rem;
  padding: 0.5rem 0.625rem 0.625rem 1.75rem;
}

.form-search-pc::-webkit-input-placeholder {
  /* Edge */
  color: #fff;
}

.form-search-pc:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.form-search-pc::placeholder {
  color: #fff;
}

.btn-search {
  position: absolute;
  top: 50%;
  left: 0.625rem;
  padding: 0;
  background: transparent;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.navigation-bar-wrapper {
  border-top: 1px solid rgba(229, 229, 229, 0.3);
}

.navigation-bar {
  padding: 0.5rem 0;
}

.navigation-bar-item {
  position: relative;
  flex-shrink: 0;
}

.navigation-bar-item + .navigation-bar-item {
  margin-left: 1.5rem;
}

.navigation-bar-item__children {
  width: max-content;
  min-width: 10rem;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.navigation-bar-item__children a {
  display: block;
  padding: 0.325rem 0.325rem 0.325rem 0.5rem;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.navigation-bar-item__children:hover a {
  color: #fff;
  background-color: #ca1f43;
}

.navigation-bar-item__dropdown:before {
  position: absolute;
  content: "";
  height: 0.75rem;
  width: 100%;
  background-color: transparent;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.navigation-bar-item__dropdown {
  position: absolute;
  margin-top: 0.5rem;
  z-index: 100;
  display: none;
}

.navigation-bar-item:hover .navigation-bar-item__dropdown {
  display: block;
}

.navigation-bar-item:last-child .navigation-bar-item__dropdown {
  right: 0;
}

.sub-menu-mb-wrapper {
  position: fixed;
  width: 100%;
  height: calc(100% + 1px);
  z-index: 9999;
  overflow: auto;
  top: 0;
  left: -100%;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
}

.sub-menu-mb {
  position: relative;
}

.sub-menu-mb-wrapper.active {
  left: 0;
  visibility: visible;
}

.sub-menu-mb-share--item {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-sub-menu {
  position: absolute;
  left: 240px;
  top: 0.875rem;
  background: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-menu-mb-item {
  padding: 0.75rem;
  border-bottom: 1px solid #e5e5e5;
}

.sub-menu-mb-child {
  padding: 9px 26px 9px 36px;
}

.sub-menu-mb-dropdown {
  display: none;
}

.sub-menu-mb-item.active .sub-menu-mb-dropdown {
  display: block;
}

.sub-menu-mb-item.active .sub-menu-mb-icon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.sub-menu-mb-content {
  padding-bottom: 3rem;
  background-color: #fff;
  width: 15rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.sub-menu-mb-item--search {
  background-color: #284FA7;
}

.btn-search-mb {
  position: absolute;
  border: none;
  background: transparent;
  right: 0.5rem;
}

.form-search-mb {
  padding-right: 2rem;
}

.sub-menu-mb-item-text {
  padding: 1.25rem 0.3125rem 50px 0.9375rem;
  color: #838282;
}

#main {
  padding-top: 1.25rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 18.75rem;
  grid-gap: 3.125rem;
}

.row-one-large__trending {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-left-row-one {
  display: grid;
  grid-template-columns: 1fr 15.625rem;
  grid-gap: 1.375rem 2.5rem;
}

.row-one-thumb {
  padding-top: 1.375rem;
}

.row-one-thumb:first-child {
  padding-top: 0;
}

.row-one-thumb .row-one-thumb__content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.row-one-thumb:last-child .row-one-thumb__content {
  border-bottom: none;
  padding-bottom: 0;
}

.main-left-row-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
}

.row-two-item {
  display: flex;
  flex-direction: column;
}

.row-two-item__img {
  flex-shrink: 0;
}

.row-two-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row-two-item__public {
  margin-top: auto;
}

.main-left-row-three {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 15.625rem;
  grid-gap: 1.25rem;
}

.row-three__left-item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.row-three__left-item:first-child {
  padding-top: 0;
}

.row-three__left-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.row-three__left-img {
  width: 30%;
  flex-shrink: 0;
}

.row-three__left-content {
  flex: 1;
}

.most-read__heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.most-read__item {
  display: flex;
  margin-top: 1.5625rem;
}

.most-read__content {
  margin-left: 0.875rem;
}

.top-new {
  margin-top: 1.375rem;
}

.header-block {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #000;
  padding-bottom: 0.9375rem;
}

.header-block__link {
  display: inline-block;
  line-height: 1;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.header-block__item + .header-block__item {
  margin-left: 1.25rem;
}

.header-block__link.active {
  color: #284fa7;
  font-weight: 700;
  font-family: "Helvetical Neue", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: relative;
}

.header-block__link.active.fix-size {
  font-size: 1.125rem;
}

.header-block__link.active.fix-color--red {
  color: #C43000;
}

.header-block__link.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.325rem;
  background: #284fa7;
  bottom: -1rem;
}

.top-new-content {
  display: grid;
  grid-template-columns: 18.75rem 1fr;
  grid-gap: 1.875rem;
}

.top-new__item {
  padding: 1.25rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.top-new__item:first-child {
  padding-top: 0;
}

.top-new__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.top-new__item--img {
  width: 35%;
  flex-shrink: 0;
}

.top-new__item--text {
  flex: 1;
  padding-right: 0.9375rem;
}

.companies,
.invseting,
.banking-finace,
.consulting,
.travle-life,
.editor-picks,
.opinion {
  margin-top: 1.875rem;
}

.invseting-item {
  display: flex;
  width: 100%;
}

.invseting-item__img {
  flex-shrink: 0;
  width: 40%;
}

.invseting-item__img .thumb-5x3 {
  padding-bottom: 100%;
}

.invseting-item__content {
  flex: 1;
  padding-left: 0.625rem;
}

.consulting-main-news {
  display: grid;
  grid-template-columns: 1fr 18.75rem;
  grid-gap: 0.75rem;
}

.kpmg-img {
  max-height: 2.375rem;
  width: auto;
}

.author-link {
  display: flex;
  align-items: center;
}

.author-img {
  width: 4.375rem;
  height: 4.375rem;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  flex-shrink: 0;
}

.consulting-related-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
}

.latest-news__list {
  max-height: 25rem;
  overflow: auto;
  margin-bottom: 1.875rem;
}

.latest-news__item,
.editor-picks__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.latest-news__item:last-child {
  border-bottom: none;
}

.latest-news__list::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.latest-news__list::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}

.latest-news__list::-webkit-scrollbar-track {
  background-color: #fff;
}

.editor-picks__item {
  position: relative;
}

.editor-picks__item::before {
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background: #03A9F4;
  border-radius: 50%;
  top: 34%;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.opinion-item {
  padding: 0.625rem 0;
}

.opinion-item .author-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.travel-life__content {
  display: grid;
  grid-template-columns: 16.875rem 1fr 18.75rem;
}

.travel-life__center {
  padding-left: 1.25rem;
  padding-right: 1.875rem;
}

.travel-life__item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.travel-life__item:first-child {
  padding-top: 0;
}

.travel-life__item:last-child {
  border-bottom: none;
}

.travel-life__item__img {
  width: 30%;
  flex-shrink: 0;
}

.travel-life__item__img .thumb-5x3 {
  padding-bottom: 100%;
}

.travel-life__item__content {
  flex: 1;
  padding-left: 0.625rem;
}

.banner-footer {
  background: #F6F7FB;
}

.categories-navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.625rem;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: auto;
}

.category-navbar.active a {
  font-size: 1.5rem;
  font-weight: 800;
  color: #35639F;
  line-height: 2rem;
}

.category-navbar {
  line-height: 1.5625rem;
}

.category-navbar + .category-navbar {
  margin-left: 2.5rem;
}

.category-navbar:first-child {
  margin-right: 1rem;
  position: relative;
  user-select: none;
  pointer-events: none;
}

.category-navbar:first-child::before {
  position: absolute;
  content: "❯";
  font-size: 1.5rem;
  color: #62DFEC;
  top: 50%;
  right: -2rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.cate-left-row-one .row-one-large {
  display: flex;
  width: 100%;
}

.cate-left-row-one .row-one-large__img {
  width: 50%;
  flex-shrink: 0;
}

.cate-left-row-one .row-one-large__content {
  flex: 1;
}

.cate-left-row-one .row-one-small {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
}

.cate-left-row-one .row-one-thumb:first-child {
  padding-top: 1.375rem;
}

.cate-left-row-one .row-one-thumb {
  display: flex;
  flex-direction: column;
}

.cate-left-row-one .row-one-thumb__img {
  flex-shrink: 0;
}

.cate-left-row-one .row-one-thumb__content {
  border-bottom: none;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cate-left-row-one .row-one-thumb__content .row-one-thumb__public {
  margin-top: auto;
}

.cate-left-row-three {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1.875rem;
}

.cate-left-row-three .row-three__left-img {
  width: 15.625rem;
}

.cate-right .consulting .header-block__link.active {
  color: #c43000;
}

.cate-right .consulting .consulting-main-news,
.cate-right .consulting .consulting-related-news {
  display: block;
}

.cate-right .consulting .consulting-main-news__info,
.cate-right .consulting .consulting-related-news__item {
  background: #FFFEF5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.625rem 0 1.5rem;
}

.cate-right .consulting .consulting-related-news__item {
  margin-bottom: 1.25rem;
}

.cate-right .latest-news {
  margin-top: 1.875rem;
}

.detail-box {
  display: flex;
}

.icon-share-2 {
  position: sticky;
  top: 20%;
  border: 1px solid #EEF4ED;
  box-shadow: 0px 0px 5px #d5d5d594;
}

.detail-icon-comment {
  width: 3rem;
  height: auto;
  text-align: center;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-content {
  padding-left: 4rem;
}

.detail-content figure figcaption {
  background: #f7f7f7;
  text-align: center;
  padding: 0.625rem 0.9375rem;
  font-size: 1rem !important;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  line-height: 1.25rem;
  font-family: "Lato", sans-serif;
  color: #555;
  margin-bottom: 1.25rem;
}

.detail-content p {
  font-size: 17px;
  font-family: "Noto Serif", serif;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

.detail-icon-share-line {
  display: flex;
  align-items: center;
}

.detail-icon-share + .detail-icon-share {
  margin-left: 0.625rem;
}

.detail-icon-share__link {
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-fb-icon {
  background: #3B5999;
}

.detail-like-icon {
  background: #087CCE;
  width: 68px;
}

.detail-twitter-icon {
  background: #55ACEE;
}

.detail-linker-icon {
  background: #0073B1;
}

.detail-email-icon {
  background: #E5E5E5;
}

.detail-tags {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  align-items: center;
  padding-bottom: 15px;
}

.detail-tag-icon {
  font-size: 14px;
  background: #F2EFEA;
  width: 80px;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.detail-tag-icon:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 8px solid #F2EFEA;
  right: -8px;
  position: absolute;
}

.detail-tag + .detail-tag {
  margin-left: 1.25rem;
}

.detail-tag-item {
  font-weight: 700;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #4F4F4F;
  font-size: 15px;
  position: relative;
}

.detail-tag-item::before {
  position: absolute;
  content: "⁄";
  color: #4f4f4f;
  top: 50%;
  left: -0.75rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.detail-tag-item:nth-child(2)::before {
  content: "";
}

.detail-tag-item a:hover {
  color: #284fa7;
}

#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #a51515;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
}

.footer-top__left-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social__item + .footer-social__item {
  margin-left: 0.625rem;
}

.footer-social__link {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-social__icon {
  height: 0.9375rem;
  width: auto;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 27rem;
  grid-gap: 1.25rem;
  padding: 2.375rem 0 1.875rem;
}

.footer-top__left-text {
  margin-top: 1.875rem;
}

.footer-top__right-link {
  display: inline-block;
  line-height: 1.2;
  height: 2rem;
  margin-bottom: 1.5rem;
}

.footer-top__right-link + .footer-top__right-link {
  margin-left: 1.25rem;
}

.footer-top__right {
  text-align: right;
}

.footer-top__right-link:last-child {
  margin-left: 0;
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
