.main-one {
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  grid-gap: 17px;
}
.main-one--center {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.main-one--right-thumb,
.main-one--left-thumb {
  border-bottom: 1px solid #e5e5e5;
}
.main-one--right-thumb:first-child {
  padding-top: 0;
}
.main-one--right-thumb:last-child,
.main-one--left-thumb:last-child {
  border-bottom: none;
}
.main-one--left-thumb {
  padding-top: 0.5rem;
}
.main-one--left-thumb:first-child {
  padding-top: 0;
}
.main-one--center-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}
.most-view {
  border: 1px solid #0860A8;
}
.main-heading-block__icon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 21px;
  background: #0085F2;
  transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
}
.main-heading-block__icon:after {
  position: absolute;
  content: '';
  width: 6px;
  height: 21px;
  background:#FF0000;
}
.most-view-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1.25rem;
}
.main-two {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 30px;
}
.article-img {
  flex-shrink: 0;
  width: 35%;
}
.article-content {
  flex: 1;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article {
  border-top: 1px solid #e5e5e5;
}
.article:first-child {
  border-top: none;
}